.pokemon_encounter-stats {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: aqua;
  width: 35vw;
  height: 45vh;
  image-rendering: pixelated;
  padding-left: 2%
}

h3{
  margin-block: 9%
}