.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: yellow; */
}

.pokemon_encounter-stats {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: aqua;
  width: 35vw;
  height: 45vh;
  image-rendering: pixelated;
  padding-left: 2%;
}

h5 {
  margin-block: 2% !important;
}
.card {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(244, 240, 5) !important;
  image-rendering: pixelated;
  padding-left: 2%;
  height: 33% !important;
  transition: 0.2s;
  border: 0px solid black !important;
  margin-top: 5%;
}
.cardSelected{
  background-color: rgb(11, 172, 43) !important;
  border: 7px solid black !important;

}

.card:hover {
  border: 7px solid black !important;
}
body {
  overflow-x: hidden;
}
.card--container {
  /* background-color: blue; */
  margin-bottom: 4%;
  margin-inline: 0.5%;
  width: 23%;
  height: 75%;
  transition: 1s;
}

.locations--container{
  background-color: blue;
  width: 90vw;
  height: 90vh;
  background-image: url("../images/world-map\ \(1\).jpg");
  background-size: 100%;
  border-radius: 30%;
  image-rendering: optimizeQuality;

  /* background-repeat: no-repeat; */
}

.location--item{
  background-color: red;
  width: 10%;
  /* height: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin-block: 10px
}

.location--item-small{
  /* background-color: red; */
  background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/pokeball-location-674567.png');
  background-size: contain;
  width: 100px;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  margin: 30px;
  border-radius: 50%;
  color: rgba(240, 248, 255, 0);

}

.location--item-small:hover{
  background-color: black;
  background-image: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;

}




